html, body {
    height: 100%;
    /*background: url("../imgs/2.jpg") no-repeat;*/
    background-size: 100% 100%;

}

body {
    height: 100%;
    margin: 0;
}

.body-container {
    /*max-width: 800px;
    margin: 0 auto;*/
    background-color: aliceblue;
    min-height: 1000px;
    /*border: 1px #9e9e9e solid;*/

}

.header-nav {
    width: 100%;
}

. nav-title {
    padding: 5px;
    text-align: justify;
}

.nav-center {
    padding: 5px;
    font-size: 18px;
    color: rgb(132, 134, 130);

}

.nav-right {
    padding: 5px;
    font-size: 14px;
    color: rgb(132, 134, 130);
}

.navbar {
    padding: 5px;
    background-color: rgb(33, 170, 252);

}

.address-brand {
    background-image: url("../imgs/address.png");
    width: 16px;
    height: 18px;
}

.navbar .form-group {
    margin-bottom: 0;
}

.search-box {
    padding: 2px;
    font-size: 14px;
    margin-top: 4px;
    border-radius: .25rem;
}

.slide-box img {
    width: 100%;
}

.block {
    padding: 10px;
    font-style: normal;
    box-shadow: 3px 3px 3px #F0FFFF;
    background-color: #ffffff;
    border: #cce5ff;
    margin: 8px 0 0 0;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(130, 132, 134);
}

a:active {
    text-decoration: none;
}

.index-title {
    font-size: 18px;
    font-style: normal;
    margin: 5px 0 10px 5px;
}

.index-con {
    border-bottom: 1px solid #9e9e9e;

}

.index-back {
    color: white;
    font-size: 23px;
    text-align: justify;
    font-weight: normal;

}

.block img {
    width: 100%;
    /*border-radius: 50%;*/
}

.block-img {
    width: 100%;

}

.info-image {
    border-radius: 4px;
}

.info-eval {
    padding-top: 10px;
}

.info-title {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.info-date {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.info-age {
    font-size: 8px;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgb(63, 207, 196);
}

.info-user {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.info-scale {
    font-size: 8px;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgb(255, 106, 106);
}

.info-span {
    border: 1px lawngreen solid;
    font-size: 14px;
    color: lawngreen;
    padding: 3px 10px;
    border-radius: 5px;
}

.info-remain {
    color: orangered;
    font-size: 10px;
}

.info-money {
    font-size: 20px;
    color: red;
}

.info-address {
    font-size: 8px;
}

.info-address {
    margin: 5px 0 10px 0;
}

/* detail */
.detail-page {
    padding: 12px 8px 8px 8px;
    font-size: 12px;
    text-align: center;

}

.detail-active {
    border-bottom: 2px solid rgb(255, 191, 53);
}

.detail-block {
    padding: 10px;
    font-style: normal;
    box-shadow: 3px 3px 3px #F0FFFF;
    background-color: #ffffff;
    border: #cce5ff;
    margin: 5px 0 0 0;
}

.detail-block img {
    width: 100%;
}



.add-dutch {
    width: 100%;
    background-color: rgb(255, 203, 109);
    border: none;
    padding: 10px 0;
    border-radius: 10px;
    position: relative;
    bottom: 50%;
}

.detail-title {
    background-color: rgb(56, 165, 255);
    color: white;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
}

.course-target {
    margin: 15px 0;
}

.course-target li {
    line-height: 150%;
    margin: 10px;
    font-size: 12px;
}

.fa-star, .fa-star-half-full {
    color: rgb(255, 191, 53);
}

.course-setting {
    /*border: 1px solid rgb(254,96,96);*/

}

.course-setting table {
    margin: 15px 0 15px 0;
    border: 1px solid rgb(254,96,96);
}

.course-setting table .th1 {
    width: 30%;
    background-color: rgb(254,96,96);
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    
}

.course-setting table .th2 {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #000000;


}

/*

.fixed-top {
    left: initial;
    right: initial;
    background-color: #9e9e9e;
}*/

/*footer*/
.footer {
    margin: 30px 0 0 0;
}