{% load static %}

<div class="detail-block">
    <div class="row class-info">
        <div class="col-12">
            <img src="{% static 'dutch/imgs/address_2.png' %}" alt="">
        </div>

        <div class="col-12">
            <p style="font-size: 14px; padding: 10px;">上课位置： <span style="font-size: 12px;">汕头市龙湖区中山东路227号中泰花园</span></p>
            <p style="font-size: 14px; padding: 10px;">上课时间： <span style="font-size: 12px;">周六日下午 15:00-16:30</span></p>
        </div>

        <div style="margin: 10px;"></div>

    </div>
</div>
