{% load static %}

<div class="detail-block">
    <div class="row class-info">
        <div class="col-12">
            <img src="{% static 'dutch/imgs/address_2.png' %}" alt="">
        </div>

        <div class="col-12">
            <p style="font-size: 14px; padding: 10px;">上课位置： <span style="font-size: 12px;">{{ course.address }}</span></p>
            <p style="font-size: 14px; padding: 10px;">上课时间： <span style="font-size: 12px;">{{ course.class_time_all }}</span></p>
        </div>

        <div style="margin: 10px;"></div>

    </div>
</div>
