<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>优学拼班</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="Author" content="pinsily"/>
    <meta name="Copyright" content="@pinsily"/>
    <meta name="keywords" content="优学"/>
    <meta name="description" content="优学拼班"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="Shortcut Icon" href="网站.ico图标路径"/>


    <link type="text/css" rel="stylesheet" href="{% static 'dutch/css/bootstrap.min.css' %}"/> <!-- 4.1.0 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">

    <link type="text/css" rel="stylesheet" href="{% static 'dutch/css/init.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'dutch/css/style.css' %}"/>

    <script type="text/javascript" src="{% static 'dutch/js/jquery.min.js' %}"></script>       <!-- 3.2.1 -->
    <script type="text/javascript" src="{% static 'dutch/js/popper.min.js' %}"></script>       <!-- 1.12.5 -->
    <script type="text/javascript" src="{% static 'dutch/js/bootstrap.min.js' %}"></script>    <!-- 4.1.0 -->

</head>
<body>

<div class="container body-container">

    <div class="header">
        <!-- 导航栏 -->
        <div class="header-nav">
            <nav class="navbar navbar-expand-sm">

                <div class="row" style="width: 100%;">

                    <div class="col-4 text-left">
                        {% block nav-left %}
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        全国
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">广州</a>
                                        <a class="dropdown-item" href="#">深圳</a>
                                        <a class="dropdown-item" href="#">东莞</a>
                                    </div>
                                </li>
                            </ul>
                        {% endblock %}
                    </div>
                    <div class="col-4 text-center nav-title">

                            <p class="nav-center">{% block nav-center %}首页{% endblock %}</p>

                    </div>
                    <div class="col-4 text-right nav-title">

                            <p class="nav-right">{% block nav-right %}首页{% endblock %}</p>

                    </div>
                </div>
                <!-- Links -->


            </nav>
        </div>


    </div>

    <div class="body-content">

        {% block content %}

        {% endblock %}

    </div>

    <div class="footer">

    </div>


</div>


</body>
</html>