{% extends 'dutch/base.html' %}
{% load static %}

{% block nav-left %}
    <span class="index-back">
        <a href="{% url 'dutch:index' %}">
            <i class="fa fa-chevron-left" style="color: white; font-weight: normal;"></i>
        </a>
    </span>
{% endblock %}

{% block nav-center %}{% endblock %}


{% block nav-right %}
    <form class="navbar-form navbar-right" action="{% url 'dutch:search' %}">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <input type="text" class="form-control search-box" placeholder="搜索"/>
            </div>
        </div>
    </form>
{% endblock %}

{% block content %}

    <div>
        <div class="block-img">
            <img src="{% static 'dutch/imgs/detail.jpg' %}" alt="" style="width: 100%;">
        </div>

        <div class="row">
            <div class="col-4 detail-page detail-active class-detail" onclick="changePage(this, 'class-detail')">
                <p>课程概述</p>
            </div>
            <div class="col-4 detail-page teacher" onclick="changePage(this, 'teacher')">
                <p>外教资料</p>
            </div>
            <div class="col-4 detail-page class-info" onclick="changePage(this, 'class-info')">
                <p>上课信息</p>
            </div>
        </div>

        <div id="class-detail">
            {% include 'dutch/course.html' %}
        </div>

        <div id="teacher" style="display: none;">
            {% include 'dutch/teacher.html' %}
        </div>

        <div id="class-info" style="display: none;">
            {% include 'dutch/address.html' %}
        </div>


        <div class="row">
            <div class="col-6 offset-3">
                <button class="btn btn-primary add-dutch" type="button" data-toggle="modal" data-target="#myModal" aria-hidden="true" data-backdrop="static">
                    加入拼班
                </button>

            </div>
        </div>
    </div>

    <div class="row" class="seft-modal">
        <div class="col-12">
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <h4 class="modal-title">联系方式</h4>
                        </div>

                        <!-- 模态框主体 -->
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="username" class="col-4 text-center">姓名:</label>
                                <input type="text" class="form-control col-8" style="font-size: 14px;" id="username"
                                       placeholder="Love English">
                            </div>
                            <div class="form-group row">
                                <label for="userphone" class="col-4 text-center">电话:</label>
                                <input type="text" class="form-control col-8" style="font-size: 14px;" id="userphone"
                                       placeholder="汕头市中山路泰和花园23号">
                            </div>

                            <div class="form-group row">
                                <label for="userqq" class="col-4 text-center">QQ:</label>
                                <input type="text" class="form-control col-8" style="font-size: 14px;" id="userqq"
                                       placeholder="2018-12-12">
                            </div>

                            <div class="form-group row">
                                <label for="userwechat" class="col-4 text-center">微信:</label>
                                <input type="text" class="form-control col-8" style="font-size: 14px;" id="userwechat"
                                       placeholder="5">
                            </div>
                        </div>

                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    onclick="joinClass({{ course.id }})">加入
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        //$("#myModal").modal({backdrop: 'static', keyboard: false});

        var classnames = ["class-detail", "teacher", "class-info"];

        function changePage(elem, classname) {
            var divs = $(elem).siblings();
            divs.each(function (i, div) {
                $(div).removeClass("detail-active");
            });


            $(elem).addClass("detail-active");

            for (var i = 0; i < classnames.length; i++) {
                var id = "#" + classnames[i];
                if (classnames[i] === classname) {
                    $(id).css("display", "block");
                } else {
                    $(id).css("display", "none");
                }
            }
        }

        function joinClass(id) {
            var url = "{% url 'dutch:joinclass'%}";

            var idname = $("#username").val();
            var userphone = $("#userphone").val();
            var userqq = $("#userqq").val();
            var userwechat = $("#userwechat").val();

            if(idname===""){
                alert("名字不能为空!");
                return;
            }

            if (!(/^1[34578]\d{9}$/.test(userphone))) {
                alert("手机号码有误，请检查!");
                return;
            }

            if(!(/^[1-9]\d{4,9}$/.test(userqq)) && userqq!=="")(
                alert("QQ号码有误， 请检查!")
            )




            var data = {
                idname: idname,
                userphone: userphone,
                userqq: userqq,
                userwechat: userwechat,
                id: id
            };

            //console.log(data);
            //console.log(url);

            $.ajax({

                url: url,
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    //console.log(data);
                    alert(data['ret_message']);
                },

            });
        }

    </script>


{% endblock %}