
{% load static %}
<div class="detail-block">
    <div class="row">
        <div class="col-3">
            <img class="rounded-circle block-img" src="{% static 'dutch/imgs/user.jpg' %}" alt="">
        </div>
        <div class="col-9">
            <p>
                <span class="info-user" style="font-size: 14px; font-weight: normal;">钱小姐</span>
            </p>
            <p class="info-eval">
                <span>13160724868</span>
            </p>
        </div>
    </div>
</div>

<div class="detail-block">
    <div class="row">
        <div class="col-3">
            <img class="rounded-circle block-img" src="{% static 'dutch/imgs/user.jpg' %}" alt="">
        </div>
        <div class="col-9">
            <p>
                <span class="info-user" style="font-size: 14px; font-weight: normal;">钱小姐</span>
            </p>
            <p class="info-eval">
                <span>13160724868</span>
            </p>
        </div>
    </div>
</div>

<div class="detail-block">
    <div class="row">
        <div class="col-3">
            <img class="rounded-circle block-img" src="{% static 'dutch/imgs/user.jpg' %}" alt="">
        </div>
        <div class="col-9">
            <p>
                <span class="info-user" style="font-size: 14px; font-weight: normal;">钱小姐</span>
            </p>
            <p class="info-eval">
                <span>13160724868</span>
            </p>
        </div>
    </div>
</div>

