{% extends 'dutch/base.html' %}
{% load static %}

{% block nav-left %}
    <span class="index-back">
        <a href="{% url 'dutch:index' %}">
            <i class="fa fa-chevron-left" style="color: white; font-weight: normal;"></i>
        </a>
    </span>
{% endblock %}

{% block content %}

    <div class="row">


        <div class="col-12">
            <p style="font-size: 17px; font-weight: bold; margin: 8px 0 8px 0;">发起人信息</p>
        </div>

        <div class="col-12">
            <div class="start-form detail-block">
                <div class="form-group row">
                    <label for="username" class="col-4 text-center">姓名:</label>
                    <input type="text" class="form-control col-8" id="username" placeholder="username">
                </div>
                <div class="form-group row">
                    <label for="userphone" class="col-4 text-center">电话:</label>
                    <input type="text" class="form-control col-8" id="userphone" placeholder="telphone">
                </div>

                <div class="form-group row">
                    <label for="userqq" class="col-4 text-center">QQ:</label>
                    <input type="text" class="form-control col-8" id="userqq" placeholder="QQ">
                </div>

                <div class="form-group row">
                    <label for="userwechat" class="col-4 text-center">wechat:</label>
                    <input type="text" class="form-control col-8" id="userwechat" placeholder="wechat">
                </div>
            </div>
        </div>


        <div class="col-12">
            <p style="font-size: 17px; font-weight: bold; margin: 8px 0 8px 0;">拼班信息</p>
        </div>

        <div class="col-12">
            <div class="start-form detail-block">
                <div class="form-group row">
                    <label for="class-name" class="col-4 text-center">课程名称:</label>
                    <input type="text" class="form-control col-8" id="class-name" placeholder="Love English">
                </div>
                <div class="form-group row">
                    <label for="class-address" class="col-4 text-center">上课地点:</label>
                    <input type="text" class="form-control col-8" id="class-address" placeholder="汕头市中山路泰和花园23号">
                </div>

                <div class="form-group row">
                    <label for="class-time" class="col-4 text-center">开课时间:</label>
                    <input type="text" class="form-control col-8" id="class-time" placeholder="2018-12-12">
                </div>

                <div class="form-group row">
                    <label for="class-people" class="col-4 text-center">拼班人数:</label>
                    <input type="text" class="form-control col-8" id="class-people" placeholder="5">
                </div>

                <div class="form-group row">
                    <label for="class-age" class="col-4 text-center">孩子年龄:</label>
                    <input type="text" class="form-control col-8" id="class-age" placeholder="3-5">
                </div>

                <div class="form-group row">
                    <label for="class-teacher-gender" class="col-4 text-center">外教性别:</label>
                    <input type="text" class="form-control col-8" id="class-teacher-gender" placeholder="男 or 女">
                </div>

                <div class="form-group row">
                    <label for="class-teacher-name" class="col-4 text-center">外教名称:</label>
                    <input type="text" class="form-control col-8" id="class-teacher-name" placeholder="Pinsily">
                </div>

            </div>
        </div>

        <div class="col-12">
            <p style="font-size: 17px; font-weight: bold; margin: 8px 0 8px 0;">教师信息</p>
        </div>

    <div class="col-12">
            <div class="start-form detail-block">
                <div class="form-group row">
                    <label for="class-teacher-gender" class="col-4 text-center">外教性别:</label>
                    <input type="text" class="form-control col-8" id="class-teacher-gender" placeholder="男 or 女">
                </div>

                <div class="form-group row">
                    <label for="class-teacher-name" class="col-4 text-center">外教名称:</label>
                    <input type="text" class="form-control col-8" id="class-teacher-name" placeholder="Pinsily">
                </div>


                <div class="text-center">
                    <button type="button" class="btn btn-primary" style="width: 98%;" onclick="submitDutch()">发起拼班
                    </button>
                </div>
            </div>
        </div>


    </div>


    <script type="text/javascript">

        function submitDutch() {

            var url = "{% url 'dutch:startclass' %}";

            var idname = $("#username").val();
            var userphone = $("#userphone").val();
            var userqq = $("#userqq").val();
            var userwechat = $("#userwechat").val();

            if (idname === "") {
                alert("名字不能为空!");
                return;
            }

            if (!(/^1[34578]\d{9}$/.test(userphone))) {
                alert("手机号码有误，请检查!");
                return;
            }

            if (!(/^[1-9]\d{4,9}$/.test(userqq)) && userqq !== "") {
                alert("QQ号码有误， 请检查!");
                return;
            }


            var class_name = $("#class-name").val();
            var class_address = $("#class-address").val();
            var class_time = $("#class-time").val();
            var class_people = $("#class-people").val();
            var class_age = $("#class-age").val();
            var teacher_gender = $("#class-teacher-gender").val();
            var teacher_name = $("#class-teacher-name").val();

            if(class_name==="" || class_address==="" || class_time===""
                || class_people==="" ||class_age===""){
                alert("拼班信息不能为空!");
                return;
            }

            var data = {

                // 发起人信息
                idname: idname,
                userphone: userphone,
                userqq: userqq,
                userwechat: userwechat,

                // 拼班信息
                class_name: class_name,
                class_address: class_address,
                class_time: class_time,
                class_people: class_people,
                class_age: class_age,
                teacher_gender: teacher_gender,
                teacher_name: teacher_name

            };

            $.ajax({

                url: url,
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert(data['ret_message']);
                },
            });
        }

    </script>

{% endblock %}


