
{% load static %}
<div class="detail-block">
    <div class="row">
        <div class="col-3">
            <img class="rounded-circle block-img" src="{% static 'dutch/imgs/user.jpg' %}" alt="">
        </div>
        <div class="col-9">
            <p>
                <span class="info-user">Dillon</span>
                <span class="info-age">6年工作经验</span>
            </p>
            <p class="info-eval">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half-full"></i></span>

                <span style="font-size: 12px; margin-left: 15px;">美国</span>
            </p>
        </div>
    </div>
</div>

<div class="detail-block">
    <div class="row">
        <div class="col-12">
            <p style="font-size: 17px; font-weight: bold; margin: 0 0 8px 0;">教学经验</p>
        </div>

        <div class="col-12">
            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>工作单位</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2015</td>
                        <td>2017</td>
                        <td>大嘴英语</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>2017</td>
                        <td>大嘴英语</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>2017</td>
                        <td>大嘴英语</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>2017</td>
                        <td>大嘴英语</td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td>2017</td>
                        <td>大嘴英语</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>