
{% load static %}
<div class="detail-block">
    <div class="row">
        <div class="col-3">
            <img class="rounded-circle block-img" src="{% static 'dutch/imgs/user.jpg' %}" alt="">
        </div>
        <div class="col-9">
            <p>
                <span class="info-user">{{ course.teacher.name }}</span>
                <span class="info-age">{{ course.teacher.experience }} 年工作经验</span>
            </p>
            <p class="info-eval">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star-half-full"></i></span>

                <span style="font-size: 12px; margin-left: 15px;">{{ course.teacher.come_from }}</span>
            </p>
        </div>
    </div>
</div>

<div class="detail-block">
    <div class="row">
        <div class="col-12">
            <p style="font-size: 17px; font-weight: bold; margin: 0 0 8px 0;">教师简介</p>
        </div>

        <div class="col-12">
            <p style="text-indent: 28px; margin-bottom: 20px;">
                {{ course.teacher.introduce }}
            </p>
        </div>
    </div>
</div>